@import "tailwindcss";
/* @plugin "daisyui"; */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

* {
  font-family: "Poppins", sans-serif;
}
a.active {
  @apply border-b-2 px-4 py-2  text-red-500;
}
.slick-prev:before,
.slick-next:before {
  font-size: 25px !important;
  color: red !important;
}
.slick-prev {
  left: -0px !important;
  z-index: 10;
}
.slick-next {
  right: 4px !important;
}
